.titles{
	font-family: "Lucida Handwriting"
}

img{
	float: left;
	height: 250px;
	width 200px;
	padding-right: 25px;
}
body{
	background-color: #f2bda7;

}

#description{
	font-family: Castellar;
	Color: #433e3b;
}

#Architechture{
	height: 300px;
	width: 250px;

}

div.ImgCapt {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 200px;
    padding-right: 60px;
}

.caption {
	display: block;
}
